<div class="data-left">
    <ul>
        <li>
            <a href="/generalize" {if isset($choice) && ($choice == '/generalize')}class="choice"{/if}>我的推广</a>
        </li>

        <li>
            <a href="/deduct-note" {if isset($choice) && ($choice == '/deduct-note')}class="choice"{/if}>提现记录</a>
        </li>

        <li>
            <a href="/withdraw" {if isset($choice) && ($choice == '/withdraw')}class="choice"{/if}>佣金管理</a>
        </li>

        <li>
            <a href="/commis" {if isset($choice) && ($choice == '/commis')}class="choice"{/if}>佣金记录</a>
        </li>
    </ul>
</div>