<div class="data-left">

    <dl class="left-menu-item">
        <dt>用户中心</dt>
        <!--<li>
            <a href="/user" {if isset($choice) && ($choice == '/user')}class="choice"{/if}>用户中心</a>
        </li>-->

        <dd>
            <a href="/data" {if isset($choice) && ($choice== '/data')}class="choice"{/if}>完善资料</a>
        </dd>

        <dd>
            <a href="/change-password" {if isset($choice) && ($choice== '/change-password')}class="choice"{/if}>修改密码</a>
        </dd>

        <dd>
            <a href="/pay-password" {if isset($choice) && ($choice== '/pay-password')}class="choice"{/if}>交易密码</a>
        </dd>

        <dd>
            <a href="/store" {if isset($choice) && ($choice== '/store')}class="choice"{/if}>发货店铺</a>
        </dd>

        <dd>
            <a href="/upgrade" {if isset($choice) && ($choice== '/upgrade')}class="choice"{/if}>升级会员</a>
        </dd>
    </dl>

    <dl class="left-menu-item">
        <dt>代理中心</dt>
        <dd>
            <a href="/generalize" {if isset($choice) && ($choice== '/generalize')}class="choice"{/if}>我的推广</a>
        </dd>

        <dd>
            <a href="/deduct-note" {if isset($choice) && ($choice== '/deduct-note')}class="choice"{/if}>提现记录</a>
        </dd>

        <dd>
            <a href="/withdraw" {if isset($choice) && ($choice== '/withdraw')}class="choice"{/if}>佣金管理</a>
        </dd>

        <dd>
            <a href="/commis" {if isset($choice) && ($choice== '/commis')}class="choice"{/if}>佣金记录</a>
        </dd>
    </dl>

    <dl class="left-menu-item">
        <dt>充值管理</dt>
        <dd>
            <a href="/recharge" {if isset($choice) && ($choice== '/recharge')}class="choice"{/if}>在线充值</a>
        </dd>

        <dd>
            <a href="/recharge-note" {if isset($choice) && ($choice== '/recharge-note')}class="choice"{/if}>充值记录</a>
        </dd>

        <dd>
            <a href="/expense-note" {if isset($choice) && ($choice== '/expense-note')}class="choice"{/if}>余额记录</a>
        </dd>
    </dl>
    <dl class="left-menu-item">
        <dt>工单管理</dt>
        <dd>
            <a href="/repair-list" {if isset($choice) && ($choice== '/repair-list')}class="choice"{/if}>提交工单</a>
        </dd>

        <dd>
            <a href="/repair-my" {if isset($choice) && ($choice== '/repair-my')}class="choice"{/if}>我的工单</a>
        </dd>
    </dl>


    <!--<ul>
        <li>
            <a href="/generalize" {if isset($choice) && ($choice == '/generalize')}class="choice"{/if}>我的推广</a>
        </li>

        <li>
            <a href="/deduct-note" {if isset($choice) && ($choice == '/deduct-note')}class="choice"{/if}>提现记录</a>
        </li>

        <li>
            <a href="/withdraw" {if isset($choice) && ($choice == '/withdraw')}class="choice"{/if}>佣金管理</a>
        </li>

        <li>
            <a href="/commis" {if isset($choice) && ($choice == '/commis')}class="choice"{/if}>佣金记录</a>
        </li>
    </ul>-->
</div>