<!-- 版权信息 -->

<div class="footer-out">
    <div class="footer" style="height: 150px;">



        <div class="footer-info">

            <!--<ul class="bottom-link">
                <li><a href='###'>拉屎可点击法拉盛的积分</a></li>
                <li><a href='###'>拉屎可点击法拉盛的积分</a></li>
                <li><a href='###'>拉屎可点击法拉盛的积分</a></li>
                <li><a href='###'>拉屎可点击法拉盛的积分</a></li>
                <li><a href='###'>拉屎可点击法拉盛的积分</a></li>
            </ul>-->

            <p>{$set['webCopyright']}</p>
        </div>



    </div>
</div>