<meta charset="UTF-8">
<title>{$set['webTitle']}</title>
<meta name='Keywords' content='{$set["webKeyword"]}'>
<meta name='Description' content='{$set["webDesc"]}'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link type="text/css" rel="stylesheet" href="{$src}js/layui-v2.4.5/layui/css/layui.css"/>
<link type="text/css" rel="stylesheet" href="{$src}css/style.css"/>
<script src="{$src}js/layui-v2.4.5/layui/layui.js"></script>
<script src="{$src}js/jquery.1.12.4.min.js"></script>