<meta charset="UTF-8">
<title>{$set['webTitle']}</title>
<meta name='Keywords' content='{$set["webKeyword"]}'>
<meta name='Description' content='{$set["webDesc"]}'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link type="text/css" rel="stylesheet" href="{$src}js/layui-v2.4.5/layui/css/layui.css"/>
<link type="text/css" rel="stylesheet" href="{$src}css/style.css"/>
<script src="{$src}js/layui-v2.4.5/layui/layui.js"></script>
<script src="{$src}js/jquery.1.12.4.min.js"></script>
<style>
    .position {
        position: fixed;
        left: 0;
        top: 100;
        width: 100px;
        background-color: white;
        z-index: 9999;
    }

    .position img {
        height: 100px;
        width: 100%;
    }

    .position div {
        padding: 2px;
    }

    /* 底部样式开始 */

    .bottom-link {
        width: 1000px;
        margin: 0px auto;
    }

    .bottom-link li {
        /*float: left;*/
        display: inline-block;
        padding: 5px;
        list-style: none;

    }

    .bottom-link li a {
        color: #333;
        font-size: 12px;
        text-decoration: none;
    }
</style>>
