<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>分站管理</title>
    <link rel="stylesheet" href="{$src}layui/css/layui.css"/>
    <link rel="stylesheet" href="{$src}res/css/common.css"/>
    <!--[if lt IE 9]>
    <script src="{$src}res/js/html5.min.js"></script>
    <script src="{$src}res/js/respond.min.js"></script>
    <![endif]-->
    <script src="{$src}res/js/jquery.min.js"></script>
</head>

<div class="layui-fluid">

    <div class="layui-row m-breadcrumb">
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="javascript:;">首页</a>
          <a href="javascript:;">系统管理</a>
          <a><cite>分站列表</cite></a>
        </span>
    </div>

    {if $sub['is']}
    <div class="toolTable">
        <button class="layui-btn layui-btn-sm" data-type="addData">
            <i class="layui-icon">&#xe654;</i>添加分站
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" data-type="delData">
            <i class="layui-icon ">&#xe640;</i>批量删除
        </button>
    </div>
    {/if}

    <table lay-filter="table" id='idTable' lay-data='{id:"idTable"}'>
    </table>
</div>

<script src="{$src}layui/layui.js"></script>

<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
<script>
    layui.config({
        base: '{$src}res/js/common/'
    }).use(['layer', 'mTable', 'jquery','element'], function () {

        var layer = layui.layer;
        var mTable = layui.mTable;
        var sub = {php}echo $sub['json'];{/php}

        mTable.init({
            url: {
                del: '/admin/substation/delete',
                table: '/admin/substation/table',
                edit: '/admin/substation/edit',
                add: '/admin/substation/create',
            },
            isPage: false,
            cols: [[
                {field: 'id', width: 50, type:'checkbox'},
                {
                    field: 'pid', width: 130, title: '上级站点', templet: function (d) {
                    return sub[d.pid];
                }
                },
                {field: 'id', width: 80, title: '分站id'},
                {field: 'status', width: 60, title:'状态',templet:function(d){
                    if(d.status == 'on' ){
                        return '<span class="layui-badge layui-bg-green">开</span>' ;
                    }else{
                        return '<span class="layui-badge layui-bg-gray">关</span>' ;
                    }
                }},
                {field: 'name', width: 200, title: '分站名称'},
                {field: 'localhost', width: 250, title: '域名'},
//                {field: 'amount', title: '分站费'},
                {field: 'created_at',width: 200, title: '创建时间'},
                {fixed: 'right', title: '操作',  align: 'center', toolbar: '#tableTool'}
            ]]
        });
        mTable.render();
    });
</script>
</body>

</html>