<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>利润统计</title>
    <link rel="stylesheet" href="{$src}layui/css/layui.css">
    <link rel="stylesheet" href="{$src}res/css/common.css"/>
    <!--[if lt IE 9]>
    <script src="{$src}res/js/html5.min.js"></script>
    <script src="{$src}res/js/respond.min.js"></script>
    <![endif]-->
    <script src="{$src}res/js/jquery.min.js"

    ></script>
</head>

<div class="layui-fluid">

    <div class="layui-row m-breadcrumb">
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="javascript:;">首页</a>
          <a href="javascript:;">利润统计</a>
          <a><cite>筛选</cite></a>
        </span>
    </div>

    <form class="layui-form layui-form-min" action="/admin/profit/index" method="post">

        <div class="layui-form-item">
            <label class="layui-form-label">起始时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="time-start" name="startTime"
                       placeholder="开始时间" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="time-end" name="endTime"
                       placeholder="开始时间" value="">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">站点筛选</label>
            <div class="layui-input-inline">
                <select name="substation" lay-verify="">
                    {foreach $sub['array_con'] as $k => $v}
                    <option value="{$k}">{$v}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">需要查看的站点</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">快递筛选</label>
            <div class="layui-input-inline">
                <select name="express" lay-verify="">
                    <option value="">全部</option>
                    {foreach $platform as $k => $v}
                    <option value="platform-{$k}" style="color: blue">{$v}</option>
                    {if isset($express[$k])}{foreach $express[$k] as $ke => $va}
                    <option value="{$va['id']}">----{$va['name']}</option>
                    {/foreach}{/if}
                    {/foreach}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">需要查看的快递</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品分类</label>
            <div class="layui-input-inline">
                <select name="goods_class" lay-verify="">
                    <option value="">全部</option>
                    {foreach $goods_class as $k => $v}
                    <option value="{$k}">{$v}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">需要查看的商品分类</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品编号</label>
            <div class="layui-input-block">
                <textarea id="content" title="请输入需要筛选的商品编号" name="goods_code"
                          placeholder="请输入需要筛选的商品编号,不填则为查看所有商品"
                          class="layui-textarea" maxlength="200"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input class="layui-btn" type="submit" value="立即提交">
                <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
            </div>
        </div>
    </form>
</div>
<script src="{$src}layui/layui.js"></script>
<script>
    layui.config({
        base: '{$src}res/js/common/'
    }).use(['mForm', 'layer', 'element', 'form', 'laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        form.on('switch(show)', function (data) {
            if (data.elem.checked) {
                $('#show').prop('value', 'on');
            } else {
                $('#show').prop('value', 'off');
            }
        });

        laydate.render({
            elem: '#time-start', //指定元素
        });

        laydate.render({
            elem: '#time-end', //指定元素
        });
    }); //加载入口
</script>
</body>

</html>