<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>充值列表</title>
    <link rel="stylesheet" href="{$src}layui/css/layui.css"/>
    <link rel="stylesheet" href="{$src}res/css/common.css"/>
    <!--[if lt IE 9]>
    <script src="{$src}res/js/html5.min.js"></script>
    <script src="{$src}res/js/respond.min.js"></script>
    <![endif]-->
    <script src="{$src}res/js/jquery.min.js"

             ></script>
</head>

<div class="layui-fluid">

    <div class="layui-row m-breadcrumb">
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="javascript:;">首页</a>
          <a href="javascript:;">资金管理</a>
          <a><cite>充值记录</cite></a>
        </span>
    </div>

    <div class="toolTable">
        <!--<button class="layui-btn layui-btn-sm layui-btn-danger" data-type="delData">
            <i class="layui-icon ">&#xe640;</i>批量删除
        </button>-->
        <form class="layui-form layui-inline layui-form-query">

            {if $sub['is']}
                <div class="layui-input-inline layui-query-select" style="width:70px;">
                    <select name="the_substation" lay-verify="" style="height:30px;">
                        <option value="all">全站</option>
                        {foreach $sub['array_con'] as $k => $v}
                        <option value="{$k}" >{$v}</option>
                        {/foreach}
                    </select>
                </div>
            {/if}

            <div class="layui-input-inline layui-query-select" style="width:70px;">
                <select name="status" lay-verify="" style="height:30px;">
                    <option value="">状态</option>
                    <option value="0">待处理</option>
                    <option value="1">已处理</option>
                    <option value="2">已取消</option>
                    <option value="3">已拒绝</option>
                </select>
            </div>
            <div class="layui-input-inline layui-query-select" style="width:70px;">
                <select name="keywordType" lay-verify="" style="height:30px;">
                    <option value="1">订单号</option>
                    <option value="0">账号</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input type="text" name='keyword' placeholder="请输入关键字" class="layui-input layui-input-mid" />
            </div>

            <div class="layui-input-inline">
                <label class="layui-form-label layui-form-label-mid">时间筛选</label>

                <div class="layui-input-inline">
                    <input type="text" placeholder="请选择起始时间" name="startTime" class="layui-input layui-input-mid" id="startTime" readonly/>
                </div>
            </div>
            <div class="layui-input-inline">
                <input type="text" placeholder="请选择结束时间" name="endTime" class="layui-input layui-input-mid" id="endTime" readonly/>
            </div>

            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="query">
                    <i class="layui-icon ">&#xe615;</i>搜索
                </button>
            </div>
        </form>
    </div>

    <table lay-filter="table" id='idTable' lay-data='{id:"idTable"}'>
    </table>
</div>

<script src="{$src}layui/layui.js"></script>

<script type="text/html" id="tableTool">
    <!-- 类型|标题|字段|value|按钮对应地址 -->
    {{# if ( d.status == 0 ) { }}
    {if SUBSTATION == '0'}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="custom|拒绝充值|status|3|0">拒绝</a>
    <a class="layui-btn layui-btn-xs" lay-event="custom|处理充值|status|1|0">处理</a>
    {else}
    -
    {/if}
    {{# }else{ }}
    -
    {{# } }}
</script>

<script>

    // 非常规操作连接

    var tUrl = {
        0:'/admin/recharge/status', // 取消 处理
    };
    var sub = {php}echo $sub['json'];{/php}

    var transform = {
        0:'待处理',
        1:'已处理',
        2:'已取消',
        3:'已拒绝',
    };

    layui.config({
        base: '{$src}res/js/common/'
    }).use(['layer', 'mTable', 'jquery','element','laydate'], function () {

        var layer = layui.layer;
        var mTable = layui.mTable;
        var laydate = layui.laydate ;
        var sub = {php}echo $sub['json'];{/php}

        laydate.render({
            elem: '#startTime',
            type:'datetime'
        });

        laydate.render({
            elem: '#endTime',
            type:'datetime'
        });

        mTable.init({
            url: {
                table: '/admin/recharge/table',
            },
            cols: [[
                {fixed: 'left',field: 'order_number', width:140,title: '编号'},
                {
                    field: 'substation', width: 130, title: '站点', templet: function (d) {
                    return sub[d.substation];
                }
                },
                {field: 'status',width:100,title: '状态',templet:function(d){
                    return transform[d.status];
                }},
                {field: 'member_account', width: 150, title: '账号'},
                {field: 'member_phone', width: 150, title: '电话'},
                {field: 'member_nickname',width:100,title: '昵称'},
                {field: 'total',width:100, title: '充值金额'},
//                {field: 'content',width:170,title: '详情'},
                {field: 'created_at', minWidth:170, title: '时间'},
                {fixed: 'right', title: '操作', width: 120, align: 'center', toolbar: '#tableTool'}
            ]]
        });

        mTable.render();
    });
</script>
</body>

</html>