<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>收款设置</title>
    <link rel="stylesheet" href="{$src}layui/css/layui.css">
    <link rel="stylesheet" href="{$src}res/css/common.css"/>
    <link rel="stylesheet" href="{$src}res/editor/styles/app.css">
    <link rel="stylesheet" href="{$src}res/editor/styles/mobile.css">
    <link rel="stylesheet" href="{$src}res/editor/styles/simditor.css">

    <!--[if lt IE 9]>
    <script src="{$src}res/js/html5.min.js"></script>
    <script src="{$src}res/js/respond.min.js"></script>
    <![endif]-->
    <script src="{$src}res/js/jquery.min.js"

    ></script>
</head>

<div class="layui-fluid">

    <div class="layui-row m-breadcrumb">
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="javascript:;">首页</a>
          <a href="javascript:;">收款设置</a>
        </span>
    </div>

    <form class="layui-form" action="/admin/bank/index">

        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea id="editor" name="file" style="display: none;">{if isset($self)}{$self["file"]}{/if}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id='submit' lay-submit lay-filter="*">立即提交</button>
                <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
            </div>
        </div>
    </form>
</div>
<script src="{$src}layui/layui.js"></script>
<script src="{$src}res/editor/js/module.js"></script>
<script src="{$src}res/editor/js/uploader.js"></script>
<script src="{$src}res/editor/js/hotkeys.js"></script>
<script src="{$src}res/editor/js/simditor.js"></script>
<script src="{$src}res/editor/index.js"></script>
<script>

    createEditor();

    layui.config({
        base: '{$src}res/js/common/'
    }).use(['mForm', 'layer', 'layedit', 'element'], function () {
        var layedit = layui.layedit;
        layedit.build('content', {
            height: 380
        }); //建立编辑器

        var form = layui.form;
        form.on('switch(show)', function (data) {
            if (data.elem.checked) {
                $('#show').prop('value', 'on');
            } else {
                $('#show').prop('value', 'off');
            }
        });
    }); //加载入口
</script>
</body>

</html>