<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>订单列表</title>
    <link rel="stylesheet" href="{$src}layui/css/layui.css"/>
    <link rel="stylesheet" href="{$src}res/css/common.css"/>
    <!--[if lt IE 9]>
    <script src="{$src}res/js/html5.min.js"></script>
    <script src="{$src}res/js/respond.min.js"></script>
    <![endif]-->
    <script src="{$src}res/js/jquery.min.js"

             ></script>
</head>

<div class="layui-fluid">

    <div class="layui-row m-breadcrumb">
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="javascript:;">首页</a>
          <a href="javascript:;">订单管理</a>
          <a><cite>订单列表</cite></a>
        </span>
    </div>

    <div class="toolTable">

        <button class="layui-btn layui-btn-sm layui-btn-danger" data-type="delData">
            <i class="layui-icon ">&#xe640;</i>批量删除
        </button>

        <form class="layui-form layui-inline layui-form-query">
            <!--<div class="layui-input-inline layui-query-select" style="width:70px;">
                <select name="pay" lay-verify="" style="height:30px;">
                    <option value="">全部</option>
                    <option value="0">付款</option>
                    <option value="1">未付</option>
                </select>
            </div>-->
            {if $sub['is']}

            <div class="layui-input-inline layui-query-select" style="width:70px;">
                <select name="the_substation" lay-verify="" style="height:30px;">
                    <option value="all">全站</option>
                    {foreach $sub['array_con'] as $k => $v}
                    <option value="{$k}" >{$v}</option>
                    {/foreach}
                </select>
            </div>

            {/if}
            <div class="layui-input-inline layui-query-select" style="width:70px;">
                <select name="keywordType" lay-verify="" style="height:30px;">
                    <option value="1">帐号</option>
                    <option value="0">订单号</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input type="text" name='keyword' placeholder="请输入关键字" class="layui-input layui-input-mid"/>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="query">
                    <i class="layui-icon ">&#xe615;</i>搜索
                </button>
            </div>
        </form>

    </div>

    <table lay-filter="table" id='idTable' lay-data='{id:"idTable"}'>
    </table>
</div>

<script src="{$src}layui/layui.js"></script>

<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-xs" href="/admin/order/edit?id={{d.id}}"><i class="layui-icon layui-icon-search"></i>查看</a>
    {{# if ( d.order_status == 10 || d.order_status == 15) { }}
    {if SUBSTATION == 0}
    {{# if ( d.substation_pay == 1) { }}
    <a class="layui-btn layui-btn-xs layui-btn-primary" href="/admin/order/send?id={{d.id}}"><i
            class="layui-icon layui-icon-release"></i>发货</a>
    {{# } }}
    <a class="layui-btn layui-btn-xs layui-btn-primary" href="/admin/order/back?id={{d.id}}"><i
            class="layui-icon layui-icon-release"></i>取消</a>
    {/if}
    {{# }else if ( d.order_status == 20 ) { }}
    <a class="layui-btn layui-btn-xs layui-btn-primary" href="/admin/send/index?id={{d.id}}"><i
            class="layui-icon layui-icon-list"></i>清单</a>
    {{# } }}
</script>

<script>
    layui.config({
        base: '{$src}res/js/common/'
    }).use(['layer', 'mTable', 'jquery', 'element'], function () {

        var layer = layui.layer;
        var mTable = layui.mTable;
        var sub = {php}echo $sub['json'];{/php}

        mTable.init({
            url: {
                del: '/admin/order/delete',
                table: '/admin/order/table',
                edit: '/admin/order/edit',
                add: '/admin/order/create'
            },
            cols: [[
                {field: 'id', width: 50, type: 'checkbox'},
                {
                    field: 'substation', width: 130, title: '站点', templet: function (d) {
                    return sub[d.substation];
                }
                },
                {
                    field: 'pay_status', width: 80, title: '付款', templet: function (d) {
                    if (d.pay_status != 0) {
                        return '<span class="layui-badge-rim">已付款</span>'
                    } else {
                        return '<span class="layui-badge">未付款</span>';
                    }
                }
                },
                {
                    field: 'order_status', width: 80, title: '状态', templet: function (d) {
                    if (d.order_status == 40) {
                        return '<span class="layui-badge layui-bg-blue">已取消</span>'
                    } else if (d.order_status == 30) {
                        return '<span class="layui-badge layui-bg-blue">已撤销</span>'
                    } else if (d.order_status == 20) {
                        return '<span class="layui-badge-rim">已发货</span>';
                    } else if (d.order_status == 15) {
                        return '<span class="layui-badge-rim">已导出，待发货</span>'
                    } else {
                        return '<span class="layui-badge layui-bg-green">待处理</span>';
                    }
                }
                },
                {field: 'order_number', width: 160, title: '订单号'},
                {field: 'member_account', width: 120, title: '账号'},
                {field: 'member_phone', width: 120, title: '手机号'},
                {field: 'member_nickname', width: 100, title: '昵称'},
                {field: 'total', title: '金额', width: 100, sort: true},
                {field: 'express_number', title: '发货单数', width: 100},
                {field: 'express_amount', title: '快递单价', width: 100},
                {field: 'express_cost', title: '快递成本', width: 100},
                {field: 'goods_number', title: '每单发货', width: 100,templet: function (d) {
                    return d.goods_number / d.express_number;
                }},
                {field: 'goods_amount', title: '商品单价', width: 100},
                {field: 'goods_cost', title: '商品成本', width: 100},
                /*{
                    field: 'payType', width: 100, title: '付款类型', templet: function (d) {
                    if (d.payType == 1) {
                        return '<span class="layui-badge layui-bg-green">微信</span>'
                    } else if (d.payType == 2) {
                        return '<span class="layui-badge layui-bg-orange">后台</span>';
                    } else {
                        return '-';
                    }
                }
                },*/
                /*{field: 'payTime', title: '付款时间' ,width: 170,  templet:function (d) {
                    if ( d.payTime == '' || d.payTime == undefined ) {
                        return  '-' ;
                    }else{
                        return d.payTime ;
                    }
                }},*/
                {field: 'created_at', minWidth: 170, title: '下单时间'},
                {fixed: 'right', title: '操作', width: 210, align: 'center', toolbar: '#tableTool'}
            ]]
        });
        mTable.render();
    });
</script>
</body>

</html>