<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理员</title>
    <link rel="stylesheet" href="{$src}layui/css/layui.css">
    <link rel="stylesheet" href="{$src}res/css/common.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
</head>

<div class="layui-fluid">

    <div class="layui-row m-breadcrumb">
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="javascript:;">首页</a>
          <a href="javascript:;">管理员列表</a>
          <a><cite>{if isset($self)}编辑{else}添加{/if}</cite></a>
        </span>
    </div>

    <form class="layui-form layui-form-min" action="/admin/master/save">
        <!-- 编辑时写入id -->
        {if isset($self)}
        <input type='hidden' name='id' id='id' value='{$self["id"]}'/>
        {/if}

        <div class="layui-form-item">
            <label class="layui-form-label">管理员帐号</label>
            <div class="layui-input-block">
                <input type="text" name="account" lay-verify="account" placeholder="请输入管理员帐号" autocomplete="off"
                       class="layui-input" value='{if isset($self)}{$self["account"]}{/if}' maxlength="20" {if isset($self)}readonly{/if}/>
                <!-- 编辑时 input 结束改为 readonly/>  -->
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">管理员昵称</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" required lay-verify="required" placeholder="请输入管理员昵称"
                       autocomplete="off" class="layui-input" value='{if isset($self)}{$self["nickname"]}{/if}'>
            </div>
        </div>

        {if isset($self)}
        <div class="layui-form-item">
            <div class="layui-input-block">
                <blockquote class="layui-elem-quote">如不修改密码，请勿操作密码</blockquote>
            </div>
        </div>
        {/if}

        <div class="layui-form-item">
            <label class="layui-form-label">管理员密码</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="password" name="password" required lay-verify="pass" placeholder="请输入管理员密码"
                       autocomplete="off" class="layui-input" value='{if isset($self)}w!c@n#m$b%y^{else/}123456{/if}' maxlength="20">
            </div>
            <div class="layui-form-mid layui-word-aux">初始密码为：123456</div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id='submit' lay-submit lay-filter="*">立即提交</button>
                <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
            </div>
        </div>
    </form>
</div>
<script src="{$src}layui/layui.js"></script>
<script>
    layui.config({
        base: '{$src}res/js/common/'
    }).use(['mForm', 'layer', 'jquery', 'element'], function () {

    }); //加载入口
</script>
</body>

</html>