<!DOCTYPE html>
<html lang="en">
<head>
    {include file="index@Base/head"}

</head>

<body style="background: #f4f4f4;">
{include file="index@Base/top"}


<!-- 中 -->
<div class="content" style="overflow: visible;">
    <div class="data">
        {include file="index@Base/common_left"}


        <div class="data-right">
            <div class="data-right-container container-shadow">
                <div class="title">余额记录</div>

                <table class="layui-hide" id="table" lay-filter="data"></table>
            </div>
        </div>
    </div>
</div>

{include file="index@Base/copyright"}

</body>

<script>
    layui.use(['layer', 'table',], function () {
        var table = layui.table;
        var layer = layui.layer;

        table.render({
            elem: '#table',
            url: '/expense-note-table',
            parseData: function (res) {
                return {
                    "code": res.status == 'success' ? 0 : 1, //解析接口状态
                    //"msg": '', //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.message //解析数据列表
                };
            },
            autoSort: false,
            cols: [[
                {field: 'remind', title: '金额', width: 150},
                {field: 'remind_now', title: '余额', width: 150},
                {field: 'type', title: '类型', width: 150},
                {field: 'content', title: '内容'},
                {field: 'created_at', title: '日期', width: 200},
            ]],
            page: true
        });
    });
</script>
</html>