<!DOCTYPE html>
<html lang="en">
<head>
    {include file="index@Base/head"}
</head>

<body style="background: #f4f4f4;">
{include file="index@Base/top"}


<!-- 中 -->
<div class="content">
    <div class="data">
        {include file="index@Base/common_left"}

        <div class="data-right">
            <div class="data-right-container container-shadow">
                <div class="title">余额充值</div>
                <div class="data-content">

                    <form class="layui-form" action="/recharge" method="post">
                        <!--<div class="layui-form-item">
                            <label class="layui-form-label">汇款备注</label>
                            <div class="layui-input-block">
                                <input type="text" name="order" required lay-verify="required" placeholder="请输入充值金额"
                                       autocomplete="off" class="layui-input" value="$order" readonly
                                       style="color: red">
                            </div>
                        </div>-->
                        <input type="hidden" name="order" value="{$order}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">充值金额</label>
                            <div class="layui-input-block">
                                <input type="number" name="total" required lay-verify="required" placeholder="请输入充值金额"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">付款类型</label>
                            <div>
                                <input type="radio" name="type" value="1">支付宝
                                <input type="radio" name="type" value="2" checked>微信
                                <input type="radio" name="type" value="3">qq钱包
                            </div>
                        </div>

                        <div class="layui-form-item sub-btn">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-fluid" lay-submit>提交</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--<div class="layui-form-item">
                    php echo $bank['file'] /php
                </div>-->
            </div>

        </div>

        <input id="hint" value="" type="hidden"/>
    </div>

    {include file="index@Base/copyright"}
</body>

<script src="{$src}js/ajax.js"></script>
<script>
    layui.use(['layer'], function () {
        var layer = layui.layer;

        //提示
        if ($('#hint') && $('#hint').val() != '') {
            layer.alert($('#hint').val());
        }
    });
</script>
</html>