<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>店铺管理</title>
    <link rel="stylesheet" href="{$src}layui/css/layui.css"/>
    <link rel="stylesheet" href="{$src}res/css/common.css"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
</head>

<div class="layui-fluid">

    <div class="layui-row m-breadcrumb">
        <span class="layui-breadcrumb" lay-separator="/">
          <a href="javascript:;">首页</a>
          <a href="javascript:;">会员列表</a>
          <a href="javascript:;">{$member['nickname']}</a>
          <a><cite>店铺列表</cite></a>
        </span>
    </div>

    <div class="toolTable">
        <button class="layui-btn layui-btn-sm" data-type="addData">
            <i class="layui-icon">&#xe654;</i>添加店铺
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" data-type="delData">
            <i class="layui-icon ">&#xe640;</i>批量删除
        </button>

        <form class="layui-form layui-inline layui-form-query">
            <div class="layui-input-inline">
                <input type="text" name='storeName' placeholder="店铺名称" class="layui-input layui-input-mid" />
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="query">
                    <i class="layui-icon ">&#xe615;</i>搜索
                </button>
            </div>
        </form>

    </div>

    <table lay-filter="table" id='idTable' lay-data='{id:"idTable"}'>
    </table>
</div>

<script src="{$src}layui/layui.js"></script>

<script type="text/html" id="tableTool">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
<script>
    var transform = {$platform} ;

    layui.config({
        base: '{$src}res/js/common/'
    }).use(['layer', 'mTable', 'jquery','element'], function () {

        var layer = layui.layer;
        var mTable = layui.mTable;

        mTable.init({
            url: {
                del: '/admin/store/delete',
                table: '/admin/store/table?member_id={$member["id"]}',
                edit: '/admin/store/edit',
                add: '/admin/store/create?member_id={$member["id"]}'
            },
            isPage: true,
            cols: [[
                {field: 'id', width: 50, type:'checkbox'},
                {field: 'sort', width: 60, title:'排序'},
                {
                    field: 'show', width: 70, title: '状态', templet: function (d) {
                    if (d.show == 'on') {
                        return '<span class="layui-badge layui-bg-green">显示</span>';
                    } else {
                        return '<span class="layui-badge layui-bg-gray">隐藏</span>';
                    }
                }
                },
                {field: 'name', width: 200, title: '店铺名称'},
                {field: 'platform', width: 200,title: '平台',templet:function (d) {
                    return transform[d.platform];
                }},
                {field: 'name',width: 100, title: '姓名'},
                {field: 'phone', width: 150,title: '电话'},
                {field: 'address', width: 150,title: '发货地址'},
                {field: 'created_at', minWidth: 200,title: '创建时间'},
                {fixed: 'right', title: '操作', width: 160, align: 'center', toolbar: '#tableTool'}
            ]]
        });
        mTable.render();
    });
</script>
</body>

</html>