<html class="no-js css-menubar" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{$title}</title>
    <link rel="stylesheet" href="/template/css/bootstrap.css">
    <link rel="stylesheet" href="/template/css/bootstrap-extend.css">
    <link rel="stylesheet" href="/template/css/site.css">
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.1/alipayjsapi.min.js"></script>

    <script type="text/javascript" src="/template/js/qrcode.js"></script>
    <script src="/template/layer_mobile/layer.js?2.x"></script>
</head>
<body class="page-maintenance layout-full" {$alipayapp}>
<div class="page animsition text-center" style="-webkit-animation: 800ms; opacity: 1;">
    <div class="page-content vertical-align-middle">
        <!-- yunmapay -->
        <div id="pjax" class="container">
            <div class="row paypage-logo">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 paypage-logorow">
                    <img src="/{$logo}" alt="{$title}" width="94"></div>
            </div>
            <div class="row paypage-info">
                <div class="col-lg-6 col-lg-offset-2 col-md-7 col-md-offset-1 col-xs-10 col-xs-offset-0">
                    <p class="paypage-desc">订单还有<strong id="minute_show"><s></s>00分</strong>
                        <strong id="second_show"><s></s>00秒</strong>过期</p>
                </div>
                <div class="col-lg-2 col-md-3 col-xs-2 clearfix">
                    <p class="paypage-price">
                        <span class="paypage-price-number">{$money}</span>元</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 paypage-qrrow">
                    <p id="paypage-tip"><font color="#000000" size="3">此二维码支付1次有效</font></p>
                    <div align="center"><a id="qrcode"></a></div>
                    <p id="paypage-order" class=""><span style="color:red;">{$text}</span><br/><span
                            style="color:#2f2f2f;font-size:15px;">订单号:{$data}</span>
                    </p>

                    <p class="animation-slide-bottom">
                        <a class="btn btn-danger" href="{$congig['reurl']}">返回</a>
                    </p>


                    {if($yundata["type"] == 1)}
                    <p class="animation-slide-bottom">
                        <a class="btn btn-danger" onclick="goAli()">启动支付宝付款</a>
                    </p>
                    {/if}
                    <!--<p class="animation-slide-bottom">
                        <a class="btn btn-danger" onclick="help()">付款帮助？</a>
                    </p>-->
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="site-footer-legal"></div>
        <div class="site-footer-right">
            {$title}
        </div>
    </footer>
</div>
</body>
</html>


<script type="text/javascript">
    var intDiff = parseInt({$times});//倒计时总秒数量
    function timer(intDiff) {
        window.setInterval(function () {
            var day = 0,
                hour = 0,
                minute = 0,
                second = 0;//时间默认值
            if (intDiff > 0) {
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (minute == 00 && second == 00) {
                document.getElementById('qrcode').innerHTML = '<br/><br/><br/><h4>订单超时</h5><br/><br/>';
                alert('订单超时');
                javascript :history.back(-1);
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            $('#day_show').html(day + "天");
            $('#hour_show').html('<s id="h"></s>' + hour + '时');
            $('#minute_show').html('<s></s>' + minute + '分');
            $('#second_show').html('<s></s>' + second + '秒');
            intDiff--;

        }, 1000);
    }

    $(function () {
        timer(intDiff);
    });

    // 设置参数方式
    var qrcode = new QRCode('qrcode', {
        text: '{$qrcode}',
        width: 168,
        height: 168,
        colorDark: '#000000',
        colorLight: '#ffffff',
        correctLevel: QRCode.CorrectLevel.M
    });

    // 检查是否支付完成
    function loadmsg() {


        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/orderajax",
            timeout: 10000, //ajax请求超时时间10s
            data: {type: "{$type}", order: "{$order}", data: "{$data}"}, //post数据
            success: function (data, textStatus) {
                //从服务器得到数据，显示数据并继续查询
                if (data.code == 1) {
                    document.getElementById('qrcode').innerHTML = '<br/><br/><br/><h4>支付成功！</h4><br/><br/>';
                    //跳转地址
                    alert('支付完成！');
                    window.location.href = '{$congig["reurl"]}';
                }
                if (data.code == 2) {
                    document.getElementById('qrcode').innerHTML = '<br/><br/><br/><h4>订单超时</h4><br/><br/>';
                    alert('订单超时');
                    javascript :history.back(-1);
                }
                if (data.code == 3) {
                    //document.getElementById('qrcode').innerHTML='<br/><br/><br/><h4>订单丢失</h4><br/><br/>';
                    //alert('订单丢失');
                    //javascript :history.back(-1);
                }
                if (data.code == 4) {
                    document.getElementById('qrcode').innerHTML = '<br/><br/><br/><h4>配置有误token</h4><br/><br/>';
                    alert('配置有误token');
                    javascript :history.back(-1);
                }
                if (data.code == 0) {
                    setTimeout("loadmsg()", 5000);
                }
            },
            //Ajax请求超时，继续查询
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                if (textStatus == "timeout") {
                    setTimeout("loadmsg()", 5000);
                } else { //异常
                    setTimeout("loadmsg()", 5000);
                    // document.getElementById('qrcode').innerHTML='<br/><br/><br/><h4>链接失败</h4><br/><br/>';

                }
            }
        });
    }

    window.onload = loadmsg();


    /*function help() {
        layer.open({
            content: '<p style="font-size:25px;color:#F00"><b>必须付款：{$moneys} 元 才能自动到账</b></p>{$tishi}',
            btn: '我知道了'
        });
    }*/

    {if ($congig['helpts'] == 1)}
    window.onload = help();
    {/if}

</script>

{if($yundata["type"]==1)}
<script>
    var u = navigator.userAgent;
    var str = '';
    var goAliUrl = 'alipays://platformapi/startapp?appId=20000691&amp;url=alipays%3A%2F%2Fplatformapi%2Fstartapp%3FappId%3D20000691%26url%3D{php}echo urlencode(mb_convert_encoding($qrcode, "utf-8", "gb2312"));{/php}';
    var reg = new RegExp("amp;", "g");
    str = str.replace(reg, "");
    //baseurl = baseurl.replace(reg, "");
    //tbUrl = tbUrl.replace(reg, "");
    goAliUrl = goAliUrl.replace(reg, "");

    var isAliApp = u.indexOf('AliApp') > -1
        || u.indexOf('AlipayClient') > -1;
    var isWindows = u.indexOf('Windows') > -1;
    if (isAliApp) {

    } else {

    }
    if (isWindows) {

    } else {

    }

    function goAli() {
        window.location.href = goAliUrl;
    }

    window.location.href = goAliUrl;
</script>
{/if}