<!DOCTYPE html>
<html lang="en">
<head>
    {include file="index@Base/head"}

</head>

<body style="background: #f4f4f4;">
{include file="index@Base/top"}

<!-- 中 -->
<div class="content">
    <div class="data">
        {include file="index@Base/common_left"}


        <div class="data-right">
            <div class="data-right-container container-shadow">
                <div class="title">修改密码</div>
                <div class="data-content">
                    <form class="layui-form" id="forms" action="/change-password" method="post">

                        <div class="layui-form-item">
                            <label class="layui-form-label">原来的密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="pass" required lay-verify="required"
                                       placeholder="请输入目前使用的密码"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="new" required lay-verify="required" placeholder="请输入新密码"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码</label>
                            <div class="layui-input-block">
                                <input type="password" name="again" required lay-verify="required"
                                       placeholder="请输入再次输入新密码"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item sub-btn">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn layui-btn-fluid" lay-submit>确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="index@Base/copyright"}

</body>


<script src="{$src}js/ajax.js"></script>
</html>